<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReviewPlatFormWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Mystile.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/Mystile.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-sweetalert/sweetalert.css" />    
    @await RenderSectionAsync("Styles",required:false)

    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4">
            <a class="navbar-brand" href="@Url.Action("Index","Books")">Ver libros</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Reseñas</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("#")">Acerca de</a></li>
                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>Sesión</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("RegisterUser","User")">Registrarse</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Login","User")">Iniciar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>



    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/JavaScript.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
